{{ define "content" }}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-dark">Kelime Listesi</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered text-dark" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Index</th>
                        <th>ID</th>
                        <th>Terim</th>
                        <th>Türkçe Karşılığı</th>
                        <th>Kısaltma</th>
                        <th>Açıklama</th>
                        <th>Operasyonlar</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Index</th>
                        <th>ID</th>
                        <th>Terim</th>
                        <th>Türkçe Karşılığı</th>
                        <th>Kısaltma</th>
                        <th>Açıklama</th>
                        <th>Operasyonlar</th>
                    </tr>
                </tfoot>
                <tbody>
                {{ range $index, $value := .Words }}
                    <tr>
                        <td>{{ $index }}</td>
                        <td>{{ $value.Slug }}</td>
                        <td>{{ $value.English }}</td>
                        <td>{{ $value.Turkish }}</td>
                        <td>{{ $value.Abbreviation }}</td>
                        <td>{{ $value.Description }}</td>
                        <td>
                            <a href="/admin/word-edit/{{ $value.Slug }}" class="btn btn-outline-warning"><i class="fa fa-pen"></i></a>
                            <a class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash"></i></a>
                            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content border-0" style="background-color: black;">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-white" id="deleteModalLabel"><i class="fa fa-trash"></i></h5>
                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                <span class="text-white" aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body text-white">Silmek istediğinizden emin misiniz? Bu işlem sonucu veri kalıcı olarak silinecektir.</div>
                                        <div class="modal-footer">
                                            <button class="btn btn-outline-light" type="button" data-dismiss="modal">İptal</button>
                                            <a class="btn btn-danger" href="/admin/delete-word/{{ $value.Slug }}">Evet</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {{ end }}    
                </tbody>
            </table>
        </div>
    </div>
</div>
{{ end }}